#exportPattern("^[[:alpha:]]+")
useDynLib(WWR, .registration = TRUE)
export(winratio)
export(wwratio)
export(wlogr2)
export(genwr)
import("inline")
S3method(summary,WWR)
importFrom("stats", "pnorm", "rnorm", "runif")
